.title {
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
}