* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

:root {
    --white: #FFFFFF;
    --blue: #008DCD;
    --yellou: #FFCC00;
    --grey: #F7F7F7;
    --blue-light: #D2ECF7;
    --black: #000000;
}

@media (max-width: 768px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    * {
        font-size: 12px;
    }
}

@import 'base/fonts';
@import 'base/*.scss';
@import 'blocks/*.scss';