.advantage {
    min-height: 496px;
    background: #F7F7F7;
    padding: 101px 0 74px 0;
    &__wrapper {
        margin-top: 38px;
        display: grid;
        grid-template-columns: repeat(6, 2fr);
        column-gap: 40px;
        justify-content: center;
    }
    &-block {
        &__circle {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 34px;
            img {
                width: 100%;
            }
        }
        &__descr {
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
            text-align: center;
            color: #000000;
        }
    }
}

@media (max-width: 1200px) {
    .advantage {
        &__wrapper {
            column-gap: 20px;
            justify-content: center;
        }
    }
    
}

@media (max-width: 992px) {
    .advantage {
        &-block {
            &__descr {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .advantage {
        min-height: 314px;
        padding: 37px 0 52px 0;
        &__wrapper {
            grid-template-columns: repeat(auto-fill, 2fr);
            grid-auto-rows: auto;
            gap: 40px 10px;
            justify-items: center;
        }
        &-block {
            &__circle {
                margin-bottom: 16px;
            }
            &__descr {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}

@media (max-width: 576px) {
    .advantage {
        min-height: 403px;
        padding: 23px 0 30px 0;
        &__wrapper {
            margin-top: 24px;
            grid-template-columns: repeat(3, 2fr);
            gap: 20px 10px;
            justify-content: center;
        }
        &-block {
            &__circle {
                margin-bottom: 9px;
            }
            &__descr {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
}