.input {
    width: 100%;
    background-color: transparent;
    border-radius: 30px;
    font-size: 18px;
    &_white {
        padding: 14px 21px;
        color: var(--white);
        border: 1px solid var(--white);
        outline: var(--white);
        &::placeholder {
            color: var(--white);
            font-size: 16px;
            line-height: 19px
        }
    }
    &_grey {
        padding: 12px 18px;
        color: var(--black);
        border: 1px solid var(--black);
        outline: var(--black);
        &::placeholder {
            color: var(--black);
            font-size: 16px;
            line-height: 19px
        }
    }
}

.label {
    display: inline-block;
    font-size: 10px;
    line-height: 24px;
    margin-left: 6px;
    transform: translateY(-3px);
    &_white {
        color: var(--white);
    }
    &_grey {
        color: var(--black);
        transform: translateY(0);
    }
}

.checkbox_grey {
    margin-right: 6px;
    transform: translateY(2px);
}