.guarantee {
    min-height: 612px;
    padding: 80px 0 64px 0;
    &__wrapper {
        margin-top: 42px;
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        column-gap: 40px;
    }
    &-box {
        width: auto;
        position: relative;
        min-height: 400px;
        &__img {
            width: 160px;
            margin-bottom: 32px;
            img {
                width: 100%;
            }
        }
        &__title {
            font-size: 30px;
            line-height: 36px;
            font-weight: 600;
            color: #000000;
            margin-bottom: 14px;
        }
        &__txt {
            min-height: 100px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            color: #000000;
            margin-bottom: 18px;
        }
        &__btn {
            width: 100%;
            position: absolute;
            bottom: 2px;
        }
    }
    &__arrow_prev {
        display: none;
    }
    &__arrow_next {
        display: none;
    }
}

@media (max-width: 1200px) {
    .guarantee {
        min-height: 612px;
        padding: 80px 0 64px 0;
        &__wrapper {
            margin-top: 38px;
        }
        &-box {
            min-height: 430px;
            &__img {
                margin-bottom: 28px;
            }
            &__title {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 992px) {
    .guarantee {
        &-box {
            width: auto;
            min-height: 400px;
            &__img {
                width: 120px;
                margin-bottom: 24px;
            }
            &__title {
                font-size: 18px;
                line-height: 28px;
            }
            &__txt {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 768px) {
    .guarantee {
        min-height: 438px;
        padding: 42px 0;
        &__field {
            position: relative;
            overflow: hidden;
            width: 90vw;
        }
        &__wrapper {
            margin-top: 18px;
            grid-template-columns: repeat(3, auto);
            column-gap: 40px;
            margin-left: 30px;
            margin-right: 30px;
        }
        &-box {
            width: 38vw;
            min-height: 370px;
            &__txt {
                line-height: 17px;
            }
            &__btn {
                width: 100%;
            }
        }
        &__arrow_prev {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;z-index: 10;
        }
        &__arrow_next {
            display: block;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
}

@media (max-width: 576px) {
    .guarantee {
        min-height: 301px;
        padding: 27px 0 20px 0;
        &__field {
            width: 80vw;
        }
        &__wrapper {
            margin-top: 16px;
            column-gap: 40px;
        }
        &-box {
            width: 68vw;
            min-height: 212px;
            display: grid;
            grid-template: 62px auto 48px / 62px auto;
            gap: 14px 10px;
            &__img {
                width: 62px;
                margin-bottom: 0;
            }
            &__title {
                align-self: center;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 0;
            }
            &__txt {
                grid-column: 1 / 3;
                min-height: auto;
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 0;
            }
            &__btn {
                grid-column: 1 / 3;
                width: 100%;
                position: relative;
            }
        }
        
    }
}