.header {
    position: relative;
    padding: 30px 0 155px 0;
    min-height: 525px;
    background: url('../img/promo/first_big.jpg') center center/cover no-repeat;

    .menu {
        display: grid;
        grid-template-columns: 160px 1fr;
        column-gap: 140px;
        align-items: center;
        &__logo {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__lists {
            grid-column: 2;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            font-weight: 400;
            font-size: 18px;
            a {
                color: #FFFFFF;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .hamburger {
            position: absolute;
            top: 38px;
            right: 32px;
            width: 40px;
            height: 29px;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            span {
                width: 100%;
                height: 4px;
                background: #FFFFFF;
            }
        }
    }
    .promo {
        max-width: 750px;
        &__title {
            margin-top: 88px;
        }
        &__subtitle {
            margin-top: 22px;
        }
        &__btn {
            margin-top: 36px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        background: url('../img/promo/first_big.jpg') center right/cover no-repeat;
        .menu {
            display: grid;
            grid-template-columns: 2fr 10fr;
            column-gap: 40px;
            
            &__lists {
                grid-column: 2;
                font-size: 16px;
            }
        }
        .promo {
            max-width: 650px;
            &__title {
                font-size: 46px;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        padding: 30px 0 60px 0;
        min-height: 415px;
        background: url('../img/promo/first_tablet.jpg') center right/cover no-repeat;
    
        .menu {
            grid-template-columns: 80px 1fr;
            column-gap: 10px;
            
            &__lists {
                font-size: 14px;
            }
        }
        .promo {
            max-width: 400px;
            &__title {
                font-size: 44px;
                line-height: 53px;
                margin-top: 55px;
            }
            &__btn {
                margin-top: 36px;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        padding: 38px 0 28px 0;
        min-height: 488px;
        background: url('../img/promo/first_mini.jpg') top right no-repeat;
    
        .menu {
            &__lists {
                display: none;
            }
            .hamburger {
                display: flex;
            }

        }
        .promo {
            max-width: 280px;
            padding-bottom: 28px;
            &__title {
                font-size: 32px;
                line-height: 38px;
                color: #000;
                margin-top: 242px;
            }
            &__subtitle {
                color: #000;
                margin-top: 22px;
            }
            &__btn {
                margin-top: 20px;
                
            }
        }
    }
}
