.menu-mobile {
    width: 100%;
    // height: 616px;
    position: absolute;
    background-color: #fff;
    top: -200%;
    padding: 13px 25px 28px 23px;
    transition: all .6s ease-in;
    &__box {
        width: 278px;
        margin: 0 auto;
    }
    &__logo {
        width: 160px;
        img {
            width: 100%;
        }
    }
    &__close {
        position: absolute;
        top: 38px;
        right: 32px;
        width: 40px;
        height: 29px;
        cursor: pointer;
        &::after {
            content: '';
            width: 40px;
            height: 4px;
            background: #000;
            display: block;
            transform-origin: center;
            transform: rotate(45deg);
        }
        &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 4px;
            background: #000;
            display: block;
            transform-origin: center;
            transform: rotate(-45deg);
        }
    }
    &__lists {
        list-style-type: none;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        margin-top: 22px;
        margin-bottom: 32px;
        li {
            margin: 24px 0;
            &:hover {
                font-weight: 600;
            }
        }
        a {
            color: #000000;
            text-decoration: none;
        }
    }
    &__question {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color: #000000;
    }
    &__form {
        margin-top: 16px;
        
    }
    &__input {
        margin-bottom: 10px;
        input {
            width: 278px;
            height: 40px;
            border: 1px solid #363636;
            border-radius: 30px;
            padding-left: 23px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
            color: #363636;
        }
    }
    &__confidential {
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-left: 6px;
        input {
            width: 10px;
            height: 10px;
            border: 1px solid #9E9E9E;
            margin-right: 10px;
        }
        span {
            font-size: 10px;
            line-height: 10px;
            font-weight: 400;
            color: #9E9E9E;
            margin-left: 5px;
        } 
    }
    &__social {
        width: 278px;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
    }
}