.questions {
    padding: 32px 0 10px 0;
    background-color: var(--grey);
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
    }
    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
    }
    &__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6px 40px;
        align-content: flex-start;
    }
    &__label {
        grid-column: 1 / 3;
    }
}

@media (max-width: 1140px) {
    .questions {
        &__wrapper {
            gap: 20px;
        }
        &__title {
            font-size: 20px;
        }
        &__form {
            gap: 6px 20px;
        }
    }
}

@media (max-width: 768px) {
    .questions {
        padding: 32px 0 10px 0;
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
        &__form {
            gap: 6px 30px;
        }
    }
}

@media (max-width: 576px) {
    .questions {
        padding: 12px 0;
        &__title {
            font-size: 18px;
            line-height: 22px;
        }
        &__form {
            grid-template-columns: 1fr;
            gap: 10px;
        }
        &__label {
            grid-column: 1 / 2;
        }
    }
    
}